.navbar {
    float: right;
    padding: 1em 0px 0px 0px;
    .option {
        font-family: 'Ceviche One', cursive;
        border-radius: 0px;
        padding: 0.5em;
        margin: 0 8px;
        display: inline-block;
        border: 3px solid #E5D900;
        color: #E5D900;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 25px;
        box-shadow: -5px 5px 0px #a62520;
        &:hover {
            color: #a62520;
            //border-color:#a62520;
            background-color:#E5D900;
            box-shadow: -5px 5px 0px #a62520;
        }
    }
    .option-last {
        margin-right: 0;
    }
}

@media all and (max-width: 500px) {
    .navbar {
        width: 100%;
        text-align: center;
        .option {
            font-size: 21px;
        }
    }
}

@media all and (max-width: 400px) {
    .navbar {
        .option {
            font-size: 17px;
        }
    }
}

@media all and (max-width: 460px) {
    .navbar {
        .option {
            font-size: 15px;
        }
    }
}